svg {
    width: 800px;
    height: 800px;
}

.circle-main-in {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
}

.circle-main-out {
    fill: none;
    stroke: #eee;
    stroke-width: 14px;
}

/* DIVISION */

path.division {
    cursor: pointer;
    fill-opacity: .7;
    transition: all .2s;
}

path.division:hover {
    fill-opacity: .9;
}