/* GLOBAL */
html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(#B2CCE7, #F8F2D0);
}

/* MENU */
.menu {
    color: #33599A;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu li{
    list-style: none;
}

.menu a {
    color: #33599A;
    text-decoration: none;
    padding-left: 25px;
}

.menu ul a {
    color: #738EAC;
    text-decoration: none;
    display: inline-block;    
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu a.active {
    color: #3A63B2;
    border-left: #33599A solid 5px;
    padding-left: 20px;
}

/* MAP */

#map {
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: -100px;
}

.circle-main-in {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
}

/* DIVISION */

path.placeholder {    
    fill: #eee;
    opacity: .4;
}

path.division {
    cursor: pointer;
    fill-opacity: .8;
    transition: all .2s;
}

path.division:hover {
    fill-opacity: .9;
}

text.division-title {
    fill: #494949;
    cursor: pointer;
}