//
// Responsive images
//

.e-img-fluid {
    @include e-img-fluid();
}


//
// Rounded corners
//

.e-img-rounded {
    @include border-radius($e-border-radius-lg);
}


//
// Image thumbnails
//

.e-img-thumbnail {
    background-color: $e-thumbnail-bg;
    border: $e-thumbnail-border-width solid $e-thumbnail-border-color;
    border-radius: $e-thumbnail-border-radius;
    line-height: $e-line-height;
    padding: $e-thumbnail-padding;

    @include box-shadow(0 1px 2px rgba(0,0,0,.075));

    // Keep them at most 100% wide
    @include e-img-fluid(inline-block);
}


//
// Perfect circle
//

.e-img-circle {
    border-radius: 50%;
}


//
// Figures
//

.e-figure {
    // Ensures the caption's text aligns with the image.
    display: inline-block;
}

.e-figure-img {
    line-height: 1;
    margin-bottom: ($e-spacer-y / 2);
}

.e-figure-caption {
    color: $e-gray-light;
    font-size: 90%;
}
