@mixin border-radius($radius: $border-radius) {
    @if $enable-rounded {
        border-radius: $radius;
    }
}

@mixin box-shadow($shadow...) {
    @if $enable-shadows {
        box-shadow: $shadow;
    }
}

@mixin transition($transition...) {
    @if $enable-transitions {
        transition: $transition;
    }
}

@import "partial/mixins/clearfix";
@import "partial/mixins/center-block";
@import "partial/mixins/pulls";
@import "partial/mixins/text-truncate";
@import "partial/mixins/hover";
@import "partial/mixins/buttons";
@import "partial/mixins/tab-focus";
@import "partial/mixins/label";
@import "partial/mixins/grid";
@import "partial/mixins/table-row";
@import "partial/mixins/image";
@import "partial/mixins/lists";
@import "partial/mixins/breakpoints";
