<div>
    <button class="btn btn-success" type="button" data-lastUsage="none" ng-click="showModal('divModal', '', 'add')">Add new</button>
    <div class="panel-group">
        <div class="panel panel-default" ng-repeat="data in divisionTable" ng-init="parentIndex=$index" ng-if="data.hasOwnProperty('_id')">
            <div class="panel-heading">
                <h4 class="panel-title button-container">
                    <button class="btn btn-info button-fill  " data-toggle="collapse" data-target="#collapse-{{$index}}">{{data.title}} {{data.subTitle}}</button>
                    <button class="btn btn-warning" type="button" data-lastUsage="none" ng-click="showModal('divModal', data, 'edit')">Edit</button></>
                    <button class="btn btn-danger" type="button" ng-click="removePosition('divisions/', data,'divisionTable')">Remove</button></>
                </h4>
            </div>
            <div id="collapse-{{$index}}" class="panel-collapse collapse">
                <div class="panel-body" ng-repeat="subDiv in data.assigned" ng-if="subDiv.hasOwnProperty('_id')">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title button-container">
                                    <button class="btn btn-info button-fill  button-gray" data-toggle="collapse" data-target="#collapseInner-{{parentIndex}}-{{$index}}">{{subDiv.name}} {{subDiv.subTitle}}</button>
                                    <button class="btn btn-warning" type="button" data-lastUsage="none" ng-click="showModal('subDivAddModal', subDiv, 'edit')">Edit</button></>
                                    <button class="btn btn-danger" type="button" ng-click="unLinkNode('divisions/','/subdivisions/',data,subDiv )">Unlink</button></>
                                </div>
                                <div id="collapseInner-{{parentIndex}}-{{$index}}" class="panel-collapse collapse">
                                    <br>
                                    <div class="panel-body" ng-repeat="poss in subDiv.assigned" ng-if="poss.nestedObj.hasOwnProperty('parentAPI')">
                                        <div class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    {{poss.subTitle}}
                                                    {{poss.name}}
                                                    <button class="btn btn-danger" type="button" ng-click="unLinkNode('subdivisions/','/positions/', subDiv, poss)">Unlink</button></>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-info" ng-click="setSubDivivsionId('subdivisionsPositionsModal', subDiv)">Add Position</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button class="btn btn-info" data-container-id="{{data._id}}" ng-click="setSubDivivsionId('subdivisionsModal',data)">Add Subdivision</button>
            </div>
        </div>

    </div>

    <div id="divModal" class="modal modal-padding">
        <!-- Modal content -->
        <div class="my-modal-content">
            <span class="close" id="addClose" onclick="closeAddSpan('divModal')">×</span>

            <label for="inputNormal" class="required">Name</label>
            <input id="duvInput1" type="text" name="title" placeholder="Title" class="form-control">

            <label for="inputNormal" class="required">Sub Title</label>
            <input id="divInput2" type="text" name="subTitle" placeholder="Subtitle" class="form-control">

            <button class="btn btn-primary modal-padding" type="button" ng-click="modalButtonAction('divModal', 'divisions/')">Save</button>
        </div>
    </div>

    <div id="subdivisionsModal" class="modal" data-lastUsage="none" role="dialog" data-id="">
        <div class="my-modal-content">
            <span class="close" id="addClose" onclick="closeAddSpan('subdivisionsModal')">×</span>

            <h4>Please, choose the subdivision you wanna add...</h4>
            <input type="text" class="myInput" id="search-sub-modal" onkeyup="searchFunction('select-block-sub-modal', 'search-sub-modal', 'sub-table-modal')" placeholder="Search by..." title="Type in a name">
            <select class="styled-select" onchange="changeOption('select-block-sub-modal')" id="select-block-sub-modal" data-option="name">
                <option value="name">by title</option>
                <option value="title">by value </option>
            </select> 

            <table class="table-hover table" id  ="sub-table-modal">
                <thead class="thead-inverse">
                    <tr>
                        <th>Title</th>
                        <th>Value</th>
                        <th>Add existing</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="table-info" ng-repeat="subDivisionElement in SubDivisionTable" ng-if="subDivisionElement.hasOwnProperty('_id')&& !subDivisionElement.hasOwnProperty('nestedObj') ">

                        <td>{{subDivisionElement.name}}</td>
                        <td>{{subDivisionElement.subTitle}}</td>
                        <td><button class="btn btn-danger" type="button" ng-click="linkNode('divisions/','subdivisions/','subdivisionsModal',subDivisionElement,'divisionTable','SubDivisionTable')">Add</button></td>
                        <td><button class="btn btn-danger" type="button" ng-click="removePosition('subdivisions/', subDivisionElement,'SubDivisionTable')">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="subdivisionsPositionsModal" class="modal" data-lastUsage="none" role="dialog" data-id="">
        <div class="my-modal-content">
            <span class="close" id="addClose" onclick="closeAddSpan('subdivisionsPositionsModal')">×</span>

            <h4>Please, choose the position you wanna add...</h4>
            <input type="text" class="myInput" id="search-pos-modal-sub" onkeyup="searchFunction('select-block-pos-modal', 'search-pos-modal-sub', 'pos-table-modal')" placeholder="Search by..." title="Type in a name">
            <select class="styled-select" onchange="changeOption('select-block-pos-modal')" id="select-block-pos-modal" data-option="name">
                <option value="name">by title</option>
                <option value="title">by value </option>
            </select> 

            <table id="pos-table-modal" class="table-hover table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Title</th>
                        <th>Value</th>
                        <th>Add existing</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="table-info" ng-repeat="position in dataTable" ng-if="!position.hasOwnProperty('nestedObj') && position.hasOwnProperty('_id') ">
                <td>{{position.name}}</td>
                <td>{{position.subTitle}}</td>
                <td><button class="btn btn-danger" type="button" ng-click="linkNode('subdivisions/','positions/','subdivisionsPositionsModal',position,'SubDivisionTable','dataTable')">Add</button></td>
                </tr>
                </tbody>
            </table>
            <button class="btn  btn-success " type="button" ng-click="showModal('positionModal', '', 'add')">Add new Position</button>

        </div>
    </div>

    <div id="subDivAddModal" class="modal" data-lastUsage="none" data-id="">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="addClose" onclick="closeAddSpan('subDivAddModal')">×</span>

            <label for="inputNormal" class="required">Name</label>
            <input id="duvInput1" type="text" name="name" placeholder="Name" class="form-control">

            <label for="inputNormal" class="required">SubTitle</label>
            <input id="divInput2" type="text" name="subTitle" placeholder="Title" class="form-control">

            <button class="btn btn-primary" type="button" ng-click="modalButtonAction('subDivAddModal', 'subdivisions/')">Save</button>
        </div>
    </div>
</div>