<div>
    <button class="btn btn-success" type="button" data-lastUsage="none" ng-click="showModal('divModal', '', 'add')">Add new</button>
    <button class="btn btn-success" type="button" data-lastUsage="none" ng-click="myINFO()">Add new</button>
    <div class="panel-group">
        <div class="panel panel-default" ng-repeat="data in divisionTable" ng-init="parentIndex=$index">
            <div class="panel-heading">
                <h4 class="panel-title button-container">
                    <button class="btn btn-info button-fill  " data-toggle="collapse" data-target="#collapse-{{$index}}">{{data.title}} {{data.subTitle}}</button>
                    <button class="btn btn-warning" type="button" data-lastUsage="none" ng-click="showModal('divModal', data, 'edit')">Edit{{$index}}</button></>
                    <button class="btn btn-danger" type="button" ng-click="removePosition('divisions/', data,'divisionTable')">Remove</button></>
                </h4>
            </div>
            <div id="collapse-{{$index}}" class="panel-collapse collapse">
                <div class="panel-body" ng-repeat="subDiv in data.assigned" ng-if="subDiv.hasOwnProperty('_id')"> 
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title button-container">
                                    <button class="btn btn-info button-fill  button-gray" data-toggle="collapse" data-target="#collapseInner-{{parentIndex}}-{{$index}}">{{subDiv.name}} {{subDiv.subTitle}}</button>
                                    <button class="btn btn-warning" type="button" data-lastUsage="none" ng-click="showModal('subDivAddModal', subDiv, 'edit')">Edit {{$index}}</button></>
                                    <button class="btn btn-danger" type="button" ng-click="unLinkNode('divisions/','/subdivisions/',data,subDiv )">Unlink {{parentIndex}}</button></>
                                </div>
                                <div id="collapseInner-{{parentIndex}}-{{$index}}" class="panel-collapse collapse">
                                    <br>
                                    <div class="panel-body" ng-repeat="poss in subDiv.assigned" ng-if="poss.hasOwnProperty('_id')">
                                        <div class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    {{poss.subTitle}}
                                                    {{poss.name}}
                                                    <button class="btn btn-danger" type="button" ng-click="unLinkNode('subdivisions/','/positions/', subDiv, poss)">Unlink</button></>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-info" ng-click="setSubDivivsionId('subdivisionsPositionsModal', subDiv)">Add Position</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button class="btn btn-info" data-container-id="{{data._id}}" ng-click="setSubDivivsionId('subdivisionsModal',data)">Add Subdivision</button>
            </div>
        </div>
    </div>

    

    <div id="divModal" class="modal modal-padding">
        <!-- Modal content -->
        <div class="my-modal-content">
            <span class="close" id="addClose" onclick="closeAddSpan('divModal')">×</span>

            <label for="inputNormal" class="required">Name</label>
            <input id="duvInput1" type="text" name="title" placeholder="Title" class="form-control">

            <label for="inputNormal" class="required">Sub Title</label>
            <input id="divInput2" type="text" name="subTitle" placeholder="Subtitle" class="form-control">

            <button class="btn btn-primary modal-padding" type="button" ng-click="modalButtonAction('divModal', 'divisions/')">Save</button>
        </div>
    </div>

    <div id="subdivisionsModal" class="modal" data-lastUsage="none" role="dialog" data-id="">
        <div class="modal-content modal-dialog">
            <span class="close" id="addClose" onclick="closeAddSpan('subdivisionsModal')">×</span>
            <table class="table-hover table-sm">
                <thead class="thead-inverse">
                    <tr>
                        <th>Title</th>
                        <th>Value</th>
                        <th>Add existing</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-info" ng-repeat="subDivisionElement in SubDivisionTable" ng-if="subDivisionElement.hasOwnProperty('_id')">
                        <td>{{subDivisionElement.name}}</td>
                        <td>{{subDivisionElement.subTitle}}</td>
                        <td><button class="btn btn-danger" type="button" ng-click="linkNode('divisions/','subdivisions/','subdivisionsModal',subDivisionElement._id,'divisionTable','SubDivisionTable')">Add</button></td>
                        <td><button class="btn btn-danger" type="button" ng-click="removePosition('subdivisions/', subDivisionElement,'SubDivisionTable')">Remove</button></td>

                      </tr>
                </tbody>
            </table>
            <button class="btn  btn-success " type="button" ng-click="showModal('subDivAddModal', '', 'add')">Add new Subdivision</button>
        </div>
    </div>

    <div id="subdivisionsPositionsModal" class="modal" data-lastUsage="none" role="dialog" data-id="">
        <div class="modal-content modal-dialog">
            <span class="close" id="addClose" onclick="closeAddSpan('subdivisionsPositionsModal')">×</span>
            <table class="table-hover table-sm">
                <thead class="thead-inverse">
                    <tr>
                        <th>Title</th>
                        <th>Value</th>
                        <th>Add existing</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-info" ng-repeat="position in dataTable">
                        <td>{{position.name}}</td>
                        <td>{{position.subTitle}}</td>
                        <td><button class="btn btn-danger" type="button" ng-click="linkNode('subdivisions/','positions/','subdivisionsPositionsModal',position._id,'SubDivisionTable','dataTable')">Add</button></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn  btn-success " type="button" ng-click="showModal('subDivAddModal', '', 'add')">Add new Subdivision</button>
        </div>
    </div>

    <div id="subDivAddModal" class="modal" data-lastUsage="none" data-id="">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="addClose" onclick="closeAddSpan('subDivAddModal')">×</span>

            <label for="inputNormal" class="required">Name</label>
            <input id="duvInput1" type="text" name="name" placeholder="Name" class="form-control">

            <label for="inputNormal" class="required">SubTitle</label>
            <input id="divInput2" type="text" name="subTitle" placeholder="Title" class="form-control">

            <button class="btn btn-primary" type="button" ng-click="modalButtonAction('subDivAddModal', 'subdivisions/')">Save</button>
        </div>
    </div>
</div>