<head>
    <title>Career map, ELEKS</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"> </script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/controller.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="css/vendor/normalize.css">
    <link rel="stylesheet" href="css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="css/vendor/html5tooltips.css">
    <link rel="stylesheet" href="css/vendor/html5tooltips.animation.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon.ico">
    </head>
<div ng-controller="loginController">
    <nav>
        <h1><a href="#">eleks<sup>&reg;</sup> Career map</a></h1>
    </nav>
    <main id="map">
        
        <div class="pen-title">
            <h1>Welcome.Please login.</h1>
        </div>
        <div class="module form-module">
            <div class="form">
                <h2>Login to your account</h2>
                    <input type="text" placeholder="Username" ng-model="username" />
                    <input type="password" placeholder="Password" ng-model="password" ng- />
                <button type="button" ng-click="submit()">Login</button>
            </div>
        </div>
       
        </main>

</div>
