<div >
    <button class="btn btn-success"  type="button" onclick="myFunction('positionModal')">Add new</button>
    <table class="table table-hover">

        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>SubTitle</th>
                <th>Requirements</th>
                <th>Edit existing</th>
                <th>Remove entry</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-info" ng-repeat="data in dataTable">
                <td>{{data.name}}</td>
                <td>{{data.subTitle}}</td>
                <td>{{data.requirements}} <a class= "label label1 label-pill label-info" data-toggle="modal" data-target="#reqModal"  >+</a> </td>
                <td><button class="btn btn-warning" type="button">Edit</button></td>
                <td><button class="btn btn-danger" type="button">Remove</button></td>
            </tr>
        </tbody>
    </table>
    <div id="positionModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="addClose" onclick="closeAddSpan()">×</span>

            <label for="inputNormal" class="required">Name</label>
            <input id="posInput1" type="text" placeholder="Title" class="form-control">

            <label for="inputNormal" class="required">Sub Title</label>
            <input id="posInput2" type="text" placeholder="Value" class="form-control">

            <label for="inputNormal" class="required">Requirements</label>
            <textarea id="posInput1" class="form-control" rows="3"></textarea>
            <button class="btn btn-primary" type="button" onclick="">Save</button>     
        </div>
    </div>


    <div id="reqModal" class="modal" role="dialog">
        <table class=" table-hover table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>Title</th>
                <th>Value</th>
                <th>Description</th>
                <th>Edit existing</th>
                <th>Remove entry</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-info" ng-repeat="data in reqTable">
                <td>{{data.title}}</td>
                <td>{{data.value}}</td>
                <td>{{data.description}}  </td>
                <td><button class="btn btn-warning" type="button">Edit</button></td>
                <td><button class="btn btn-danger" type="button">Remove</button></td>
            </tr>
        </tbody>
        </table>
    </div>


</div>
