<div>
    <button class="btn btn-success" type="button" ng-click="showModal('reqModal','','add')">Add new</button>
    <br/>
    <div>
        <input type="text" class="myInput" id="search-req" onkeyup="searchFunction('select-block-req', 'search-req', 'reqTable')" placeholder="Search by..." title="Type in a name">
        <select class="styled-select" onchange="changeOption('select-block-req')" id="select-block-req" data-option="name">
            <option selected value="name">by title</option>
            <option value="title">by value </option>
        </select>
    </div>
    <table id ="reqTable"class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th id="req-title"> Title<span style="cursor:default" ng-click="changeScope('title')">▼</span>  </th>
                <th id ="req-value" >Value<span style="cursor:default" ng-click="changeScope('value')"> ▼ </span></th>
                <th>Description<span style="cursor:default" ng-click="changeScope('description')"> ▼ </span> </th>
                <th>Remove entry</th>
            </tr>
        </thead>
        <tbody id="requirementsTable">
            <tr class="table-info" ng-repeat="data in reqTable | orderBy: s ">
                <td>{{data.title}}</td>
                <td>{{data.value}}</td>
                <td>{{data.description}}  </td>
                <td><button class="btn btn-warning" type="button" data-lastUsage="none" ng-click="showModal('reqModal', data, 'edit')">Edit</button></td>
                <td><button class="btn btn-danger" type="button" ng-click="removePosition('requirements/', data)">Remove</button></td>
            </tr>
        </tbody>
    </table>

    <div id="reqModal" class="modal modal-padding" data-lastUsage="none" data-lastID="">
        <!-- Modal content -->
        <div class="my-modal-content">
            <span class="close" id="addClose" onclick="closeAddSpan('reqModal')">×</span>
            <label for="inputNormal" class="required">Title</label>
            <input id="reqInput1" name="title" type="text" placeholder="Title" class="form-control">

            <label for="inputNormal" class="required">Value</label>
            <input id="reqInput2" name="value" type="text" placeholder="Value" class="form-control">

            <label for="inputNormal" class="required">Description</label>
            <textarea id="reqTextareaID" name="description" class="form-control" rows="4"></textarea>  

            <button class="btn btn-primary modal-padding" type="button" ng-click="modalButtonAction('reqModal', 'requirements/')">Save</button>

        </div>
    </div>
</div>