.pen-title 
{
    padding-top: 40px;
    text-align: center;  
}
.user
{
    float: left;
}
.button-floating-right{
    float: right;
}

.edit-remove-button {
    float: right;
}

.button-container {
    display: flex;
}

.button-gray
{
    background-color: #a3b5cf;
}

.button-fill 
{
    flex-grow : 2;
}

.form-module {
  position: relative;

  top: 50px;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #146fea;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 30px;
  padding-bottom:10px;
  text-align: center;
}

.logo{
    padding-left: 60px;
}

body{
   height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(0deg, rgba(20, 111, 234, 0.47),white); /* Standard syntax (must be last) */
}
html {
    min-height: 100%
}
.curs
{
    cursor: pointer;
}
.red{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid red;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.label1 {
        display: contents;
    font-size: 90%;
    font-weight: 900;
    line-height: 3;
    color: #fff;
    text-align: right;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .99em;
    background-color: #449D44;
    text-decoration: none;
}
.label2 {
        display: contents;
    font-size: 90%;
    font-weight: 900;
    line-height: 3;
   color: #fff;
    text-align: right;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .99em;
    background-color: red;
    text-decoration: none;
}
.modal-content {
   width: 500px;
   height: 400px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
   background-color: #d9edf7;
}

* {
  box-sizing: border-box;
}

.myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 86%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-top:12px;
  height:35px;
}

.styled-select {
   width: 100px;
   height: 25px;
   overflow: hidden;
   background: #e4eefd;
   border: 1px solid #ccc;
   margin-bottom: 12px;
   }
 .modal-padding{
       margin: 10px;
        text-align:center;

 }
 .my-modal-content {
    padding:10px;
    width: 500px;
    max-height:350px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    background-color: #d9edf7;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
            border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
      overflow:auto;
}
 #allUser
 {
     margin-top:10px;
 }
