.pen-title 
{
    padding-top: 40px;
    text-align: center;
   
}
.user
{
    float: left;
}
.form-module {
  position: relative;

  top: 50px;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #146fea;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 30px;
  padding-bottom:10px;
  text-align: center;
}
.logo{
    padding-left: 60px;
}
body{
     height: 1000px;
    background: green; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(0deg, green, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(20, 111, 234, 0.47),white); /* Standard syntax (must be last) */
}

.curs
{
    cursor: pointer;
}
.red{
       display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #131619;
    background-color: #fefeff;
    background-image: none;
    border: 1px solid red;
    border-radius: 0.125rem;
    box-shadow: 0 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.label1 {
        display: contents;
    font-size: 90%;
    font-weight: 900;
    line-height: 3;
    color: #fff;
    text-align: right;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .99em;
    background-color: #449D44;
    text-decoration: none;
}